In [ ]:
#importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
#df = dataframe, a base de dados pega no site
df = pd.read_csv('https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv')

PARTE 1 ------------------------------------------

In [ ]:
#usando .info() para obter informações sobre as colunas e o tipo de dados
df.info()

In [ ]:
#.shape mostra a quantidade de linhas e colunas (linhas, colunas) do df
df.shape

In [ ]:
#.columns vai mostrar o nome de todas as colunas do df
df.columns

In [ ]:
#criei um dicionario para renomear as colunas
colunas_traduzidas={
    'work_year':'ano',
    'experience_level':'experiencia',
    'employment_type':'contrato',
    'job_title':'cargo',
    'salary':'salario',
    'salary_currency':'moeda',
    'salary_in_usd':'salario_em_usd',
    'employee_residence':'residencia',
    'remote_ratio':'tipo_trabalho',
    'company_location':'localizacao_empresa',
    'company_size':'tamanho_empresa'
}

In [ ]:
#chamando a função e passando os parametros
#inplace=true quer dizer que é pra substituir
df.rename(columns=colunas_traduzidas, inplace=True)

In [ ]:
#value_counts() vai mostrar a quantidade de cada valor diferente dentro de determinada coluna
df['experiencia'].value_counts()

In [ ]:
#renomeando o nome dos valores dentro da coluna da tabela
renomear_experiencia={
    'SE':'Senior',
    'MI':'Pleno',
    'EN':'Junior',
    'EX':'Executivo'
}

df['experiencia'] = df['experiencia'].replace(renomear_experiencia)
df['experiencia'].value_counts()

In [ ]:
df['contrato'].value_counts()

In [ ]:
#renomeando o nome dos valores dentro da coluna da tabela
renomear_contrato={
    'FT':'Integral',
    'CT':'Contrato',
    'PT':'Parcial',
    'FL':'Freelance'
}

df['contrato'] = df['contrato'].replace(renomear_contrato)
df['contrato'].value_counts()

In [ ]:
df['tipo_trabalho'].value_counts()

In [ ]:
#renomeando o nome dos valores dentro da coluna da tabela
renomear_trabalho={
    0:'Presencial',
    50:'Híbrido',
    100:'Remoto'
}

df['tipo_trabalho'] = df['tipo_trabalho'].replace(renomear_trabalho)
df['tipo_trabalho'].value_counts()

In [ ]:
df['tamanho_empresa'].value_counts()

In [ ]:
#renomeando os valores
renomear_tamanho_empresa = {
	'S': 'Pequena',
	'M': 'Média',
	'L': 'Grande'
}

df['tamanho_empresa'] = df['tamanho_empresa'].replace(renomear_tamanho_empresa)
df['tamanho_empresa'].value_counts()

In [ ]:
df['cargo'].value_counts()

In [ ]:
df['residencia'].value_counts()

In [ ]:
#head(n) colocar um número entre parenteses é pra mostrar quantas linhas que eu quero
df.head(10)

In [ ]:
#describe faz uma descrição estatistica dos dados númericos
df.describe()

In [ ]:
#describe(include='object') faz uma descriação das colunas do tipo objeto(texto/string)
df.describe(include='object')

PARTE 2 --------------------------------------

In [ ]:
#pergunta quais valores dentro da tabela são nulos
df.isnull()

In [ ]:
#vai somar todos os valores nulos de cada coluna e mostrar a quantidade
df.isnull().sum()

In [ ]:
#mostra quais são os valores únicos de cada coluna
df['ano'].unique()

In [ ]:
#criando um data frame de exemplo
df_temperatura= pd.DataFrame({
    #passo o nome de cada coluna e uma lista com os valores de cada linha da coluna
    'Dia':['Segunda', 'Terça','Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
    'Temperatura':[29.5, 28, np.nan, 32.3, np.nan, np.nan, 27] #np.nan cria um valor nulo pra tabela
})
#estou criando novas colunas para receber os valores da formula
#substituindo os valores nulos pelos valores que vem antes dele com a função ffill()
df_temperatura['Ffill']= df_temperatura['Temperatura'].ffill()
#substituindo os valores nulos pelos valores que vem depois dele com a função bfill()
df_temperatura['Bfill']= df_temperatura['Temperatura'].bfill()
df_temperatura.head(7)

In [ ]:
#criando outro data frame de exemplo
df_salario = pd.DataFrame({
    'Nome': ['Anderson', 'Bruna', 'Carlos', 'Daniel', 'Eli'],
    'Salario': [5000, np.nan, 3000, np.nan, 45000],
    'Cidade':['Xapuri', 'Rio de Janeiro', np.nan, 'São Paulo', np.nan]
})
#substituindo os valores nulos pela média dos salarios
#fillna faz a substituição
#mean calcula a média e round arredonda para duas casas decimais
df_salario['salario_media']= df_salario['Salario'].fillna(df_salario['Salario'].mean().round(2))
#agora substituo pela mediana dos sálarios
df_salario['salario_mediana']= df_salario['Salario'].fillna(df_salario['Salario'].median())
#substituindo os valores nulos por um texto na coluna cidade
df_salario['cidade_preenchida']= df_salario['Cidade'].fillna('Não informado')

df_salario.head()

In [ ]:
#aqui eu estou filtrando todos os valores nulos do df
df[df.isnull().any(axis=1)]

In [ ]:
#criando um df limpo de valores nulos
df_limpo= df.dropna() #dropna tira os valores nulos do df
df_limpo.isnull().sum() #mostrando que nenhuma coluna tem valores nulos

In [ ]:
#alterando o tipo de dado da tabela ano, de float64 para int64
df_limpo = df_limpo.assign(ano= df_limpo['ano'].astype('int64'))
df_limpo.info()