In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv')

PARTE 1 ------------------------------------------

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
linhas, colunas = df.shape[0], df.shape[1]
print(f'O dataframe tem:\n{linhas} linhas\n{colunas} colunas')

In [ ]:
df.columns

In [ ]:
colunas_traduzidas={
    'work_year':'ano',
    'experience_level':'experiencia',
    'employment_type':'contrato',
    'job_title':'cargo',
    'salary':'salario',
    'salary_currency':'moeda',
    'salary_in_usd':'salario_em_usd',
    'employee_residence':'residencia',
    'remote_ratio':'tipo_trabalho',
    'company_location':'localizacao_empresa',
    'company_size':'tamanho_empresa'
}

In [ ]:
df.rename(columns=colunas_traduzidas, inplace=True)

In [ ]:
df.columns

In [ ]:
df['experiencia'].value_counts()

In [ ]:
renomear_experiencia={
    'SE':'Senior',
    'MI':'Pleno',
    'EN':'Junior',
    'EX':'Executivo'
}

df['experiencia'] = df['experiencia'].replace(renomear_experiencia)
df['experiencia'].value_counts()

In [ ]:
df['contrato'].value_counts()

In [ ]:
renomear_contrato={
    'FT':'Integral',
    'CT':'Contrato',
    'PT':'Parcial',
    'FL':'Freelance'
}

df['contrato'] = df['contrato'].replace(renomear_contrato)
df['contrato'].value_counts()

In [ ]:
df['tipo_trabalho'].value_counts()

In [ ]:
renomear_trabalho={
    0:'Presencial',
    50:'Híbrido',
    100:'Remoto'
}

df['tipo_trabalho'] = df['tipo_trabalho'].replace(renomear_trabalho)
df['tipo_trabalho'].value_counts()

In [ ]:
df['tamanho_empresa'].value_counts()

In [ ]:
renomear_tamanho_empresa = {
	'S': 'Pequena',
	'M': 'Média',
	'L': 'Grande'
}

df['tamanho_empresa'] = df['tamanho_empresa'].replace(renomear_tamanho_empresa)
df['tamanho_empresa'].value_counts()

In [ ]:
df['cargo'].value_counts()

In [ ]:
df['residencia'].value_counts()

In [95]:
df.head()

,ano,experiencia,contrato,cargo,salario,moeda,salario_em_usd,residencia,tipo_trabalho,localizacao_empresa,tamanho_empresa
0,2025.0,Senior,Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Senior,Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Junior,Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [96]:
df.describe(include='object')

,experiencia,contrato,cargo,moeda,residencia,tipo_trabalho,localizacao_empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,Integral,Data Scientist,USD,US,Presencial,US,Média
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [ ]:
df.describe()

PARTE 2 --------------------------------------