In [ ]:
#importando as bibliotecas
import pandas as pd
import numpy as np

In [ ]:
#df = dataframe, a base de dados pega no site
df = pd.read_csv('https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv')

PARTE 1 ------------------------------------------

In [ ]:
#usando .info() para obter informações sobre as colunas e o tipo de dados
df.info()

In [ ]:
#.shape mostra a quantidade de linhas e colunas (linhas, colunas) do df
df.shape

In [ ]:
#.columns vai mostrar o nome de todas as colunas do df
df.columns

In [ ]:
#criei um dicionario para renomear as colunas
colunas_traduzidas={
    'work_year':'ano',
    'experience_level':'experiencia',
    'employment_type':'contrato',
    'job_title':'cargo',
    'salary':'salario',
    'salary_currency':'moeda',
    'salary_in_usd':'salario_em_usd',
    'employee_residence':'residencia',
    'remote_ratio':'tipo_trabalho',
    'company_location':'localizacao_empresa',
    'company_size':'tamanho_empresa'
}

In [ ]:
#chamando a função e passando os parametros
#inplace=true quer dizer que é pra substituir
df.rename(columns=colunas_traduzidas, inplace=True)

In [ ]:
df.columns

In [ ]:
#value_counts() vai mostrar a quantidade de cada valor diferente dentro de determinada coluna
df['experiencia'].value_counts()

In [ ]:
#renomeando o nome dos valores dentro da coluna da tabela
renomear_experiencia={
    'SE':'Senior',
    'MI':'Pleno',
    'EN':'Junior',
    'EX':'Executivo'
}

df['experiencia'] = df['experiencia'].replace(renomear_experiencia)
df['experiencia'].value_counts()

In [ ]:
df['contrato'].value_counts()

In [ ]:
#renomeando o nome dos valores dentro da coluna da tabela
renomear_contrato={
    'FT':'Integral',
    'CT':'Contrato',
    'PT':'Parcial',
    'FL':'Freelance'
}

df['contrato'] = df['contrato'].replace(renomear_contrato)
df['contrato'].value_counts()

In [ ]:
df['tipo_trabalho'].value_counts()

In [ ]:
#renomeando o nome dos valores dentro da coluna da tabela
renomear_trabalho={
    0:'Presencial',
    50:'Híbrido',
    100:'Remoto'
}

df['tipo_trabalho'] = df['tipo_trabalho'].replace(renomear_trabalho)
df['tipo_trabalho'].value_counts()

In [ ]:
df['tamanho_empresa'].value_counts()

In [ ]:
#renomeando os valores de dentro da coluna
renomear_tamanho_empresa = {
	'S': 'Pequena',
	'M': 'Média',
	'L': 'Grande'
}

df['tamanho_empresa'] = df['tamanho_empresa'].replace(renomear_tamanho_empresa)
df['tamanho_empresa'].value_counts()

In [ ]:
df['cargo'].value_counts()

In [ ]:
df['residencia'].value_counts()

In [ ]:
#head(n) colocar um número entre parenteses é pra mostrar quantas linhas que eu quero
df.head(10)

In [ ]:
#describe faz uma descrição estatistica dos dados númericos
df.describe()

In [ ]:
#describe(include='object') faz uma descriação das colunas do tipo objeto(texto/string)
df.describe(include='object')

PARTE 2 --------------------------------------

In [ ]:
#pergunta quais valores dentro da tabela são nulos
df.isnull()

In [ ]:
#vai somar todos os valores nulos de cada coluna e mostrar a quantidade
df.isnull().sum()

In [ ]:
#mostra quais são os valores únicos de cada coluna
df['ano'].unique()

In [ ]:
#criando um data frame de exemplo
df_temperatura= pd.DataFrame({
    #passo o nome de cada coluna e uma lista com os valores de cada linha da coluna
    'Dia':['Segunda', 'Terça','Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
    'Temperatura':[29.5, 28, np.nan, 32.3, np.nan, np.nan, 27] #np.nan cria um valor nulo pra tabela
})
#estou criando novas colunas para receber os valores da formula
#substituindo os valores nulos pelos valores que vem antes dele com a função ffill()
df_temperatura['Ffill']= df_temperatura['Temperatura'].ffill()
#substituindo os valores nulos pelos valores que vem depois dele com a função bfill()
df_temperatura['Bfill']= df_temperatura['Temperatura'].bfill()
df_temperatura.head(7)

In [33]:
#criando outro data frame de exemplo
df_salario = pd.DataFrame({
    'Nome': ['Anderson', 'Bruna', 'Carlos', 'Daniel', 'Eli'],
    'Salario': [5000, np.nan, 3000, np.nan, 45000],
    'Cidade':['Xapuri', 'Rio de Janeiro', np.nan, 'São Paulo', np.nan]
})
#substituindo os valores nulos pela média dos salarios
#fillna faz a substituição
#mean calcula a média e round arredonda para duas casas decimais
df_salario['salario_media']= df_salario['Salario'].fillna(df_salario['Salario'].mean().round(2))
#agora substituo pela mediana dos sálarios
df_salario['salario_mediana']= df_salario['Salario'].fillna(df_salario['Salario'].median())
#substituindo os valores nulos por um texto na coluna cidade
df_salario['cidade_preenchida']= df_salario['Cidade'].fillna('Não informado')

df_salario.head()

,Nome,Salario,Cidade,salario_media,salario_mediana,cidade_preenchida
0,Anderson,5000.0,Xapuri,5000.00,5000.0,Xapuri
1,Bruna,NaN,Rio de Janeiro,17666.67,5000.0,Rio de Janeiro
2,Carlos,3000.0,NaN,3000.00,3000.0,Não informado
3,Daniel,NaN,São Paulo,17666.67,5000.0,São Paulo
4,Eli,45000.0,NaN,45000.00,45000.0,Não informado

In [ ]:
#aqui eu estou filtrando todos os valores nulos do df
df[df.isnull().any(axis=1)]

,ano,experiencia,contrato,cargo,salario,moeda,salario_em_usd,residencia,tipo_trabalho,localizacao_empresa,tamanho_empresa
5588,NaN,Senior,Integral,Product Manager,184500,USD,184500,US,Presencial,US,Média
59692,NaN,Pleno,Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Média
59710,NaN,Junior,Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Média
59759,NaN,Senior,Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Média
59789,NaN,Senior,Integral,Engineer,112000,USD,112000,US,Presencial,US,Média
131000,NaN,Senior,Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Média
131006,NaN,Senior,Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Média
133054,NaN,Junior,Integral,Data Scientist,40000,USD,40000,JP,Remoto,MY,Grande
133281,NaN,Pleno,Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remoto,PL,Grande
133317,NaN,Pleno,Integral,Data Scientist,130000,USD,130000,US,Híbrido,US,Grande

In [ ]:
#criando um df limpo de valores nulos
df_limpo= df.dropna() #dropna tira os valores nulos do df
df_limpo.isnull().sum() #mostrando que nenhuma coluna tem valores nulos

ano                    0
experiencia            0
contrato               0
cargo                  0
salario                0
moeda                  0
salario_em_usd         0
residencia             0
tipo_trabalho          0
localizacao_empresa    0
tamanho_empresa        0
dtype: int64

In [ ]:
df_limpo.info()

In [ ]:
#alterando o tipo de dado da tabela ano, de float64 para int64
df_limpo = df_limpo.assign(ano= df_limpo['ano'].astype('int64'))
df_limpo.info()

In [38]:
df_limpo.head(10)

,ano,experiencia,contrato,cargo,salario,moeda,salario_em_usd,residencia,tipo_trabalho,localizacao_empresa,tamanho_empresa
0,2025,Senior,Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025,Senior,Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025,Pleno,Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025,Pleno,Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025,Junior,Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média
5,2025,Junior,Integral,Data Engineer,80000,USD,80000,US,Presencial,US,Média
6,2025,Senior,Integral,Data Scientist,185000,USD,185000,US,Presencial,US,Média
7,2025,Senior,Integral,Data Scientist,148000,USD,148000,US,Presencial,US,Média
8,2025,Pleno,Integral,Data Scientist,135000,USD,135000,CA,Presencial,CA,Média
9,2025,Pleno,Integral,Data Scientist,108000,USD,108000,CA,Presencial,CA,Média

PARTE 3 -----------------------------------------------------